html {
  font-size: 16px;
}

#gameCanvas {
  width: 100%;
  height: auto;
}

body {
  background-color: green;
}

#gameTitle {
  color: red;
  font: 3em sans-serif;
}

@media only screen and (min-width: 844px) {
  body {
    background-color: lightblue;
  }

  #gameTitle {
    color: black;
  }
}
