html {
  font-size: 16px;
}

#statsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#gameCanvas {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

body {
  height: vh;
  background-color: green;
}

main {
  height: 100vh;
  background-color: yellow;
}

#gameTitle {
  color: red;
  font: 3em sans-serif;
}

@media only screen and (min-width: 844px) {
  body {
    background-color: lightblue;
  }

  #gameTitle {
    color: black;
  }
}
